Describing Problem Statement
Overview about dataset
Data Cleaning
Exploratory Data Analysis
Feature Engineering
Machine learning Modeling
ML web app development
Deployment Machine learning app

Problem Statement for Used Car Price Prediction
We will make a project for Used Care price prediction. The problem statement is that if any user wants to buy a used car then our application should be compatible to provide a tentative price of car according to the user configurations. Although it looks like a simple project or just developing a model, the dataset we have is noisy and needs lots of feature engineering, and preprocessing that will drive your interest in developing this project.

In [2]:
#import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#read in data
data=pd.read_csv ('../data/raw/vehicles.csv')

In [4]:
#familiarize
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [6]:
data.shape

(426880, 26)

In [11]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [15]:
data.sample(5)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
282208,7308498516,https://utica.craigslist.org/cto/d/remsen-2000...,utica-rome-oneida,https://utica.craigslist.org,1000,2000.0,dodge,dakota,fair,6 cylinders,...,mid-size,pickup,blue,https://images.craigslist.org/00202_3iwD5nqpsQ...,"3.9 v6 New brakes , new ball joints, needs a b...",NaN,ny,43.338500,-75.161600,2021-04-17T17:57:32-0400
116358,7301650908,https://tallahassee.craigslist.org/ctd/d/orlan...,tallahassee,https://tallahassee.craigslist.org,113,2011.0,buick,regal cxl turbo oshawa,excellent,4 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00606_fdwoKcWMGh...,$113/mo - 2011 Buick Regal CXL Turbo Oshawa - ...,NaN,fl,28.567021,-81.291518,2021-04-04T10:52:05-0400
323188,7316658403,https://portland.craigslist.org/clc/ctd/d/glad...,portland,https://portland.craigslist.org,38990,2015.0,rover,sport 3.,NaN,6 cylinders,...,NaN,SUV,NaN,https://images.craigslist.org/00m0m_4wKbZ5wi94...,D&C Motor Company European Motor Cars Â Â Â Â S...,NaN,or,45.387624,-122.610827,2021-05-04T05:59:48-0700
153373,7303037428,https://indianapolis.craigslist.org/ctd/d/indi...,indianapolis,https://indianapolis.craigslist.org,23590,2017.0,dodge,charger sxt sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00707_4StaCvrT4y...,Carvana is the safer way to buy a car During t...,NaN,in,39.770000,-86.140000,2021-04-07T08:31:52-0400
413535,7304471071,https://yakima.craigslist.org/ctd/d/lynnwood-2...,yakima,https://yakima.craigslist.org,48999,2014.0,ram,2500 laramie,NaN,6 cylinders,...,NaN,truck,NaN,https://images.craigslist.org/00B0B_3PCZP8a6qn...,FREE SHIPPING TO YAKIMAASK US HOW IT WORKSCALL...,NaN,wa,47.812470,-122.321640,2021-04-09T17:11:01-0700

In [46]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#uc as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([data.isnull().sum(),100 * data.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by='count',ascending=False)

               count           %
county        426880  100.000000
size          306361   71.767476
cylinders     177678   41.622470
condition     174104   40.785232
VIN           161042   37.725356
drive         130567   30.586347
paint_color   130203   30.501078
type           92858   21.752717
manufacturer   17646    4.133714
title_status    8242    1.930753
lat             6549    1.534155
long            6549    1.534155
model           5277    1.236179
odometer        4400    1.030735
fuel            3013    0.705819
transmission    2556    0.598763
year            1205    0.282281
description       70    0.016398
image_url         68    0.015930
posting_date      68    0.015930
url                0    0.000000
price              0    0.000000
state              0    0.000000
region_url         0    0.000000
region             0    0.000000
id                 0    0.000000

In [47]:
data_rel_col=data.drop(['id','url','region_url','VIN','image_url','description','lat','long','posting_date','county'],axis=1)

In [48]:
df=data_rel_col

In [49]:
data_rel_col.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'size', 'type', 'paint_color', 'state'],
      dtype='object')

In [52]:
df.sample(10)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state
11384,phoenix,39995,2016.0,mercedes-benz,sprinter cargo vans,excellent,6 cylinders,diesel,91368.0,clean,automatic,rwd,full-size,NaN,white,az
10631,phoenix,6799,2008.0,nissan,altima 3.5,NaN,NaN,gas,130000.0,clean,automatic,NaN,NaN,NaN,NaN,az
44577,palm springs,11995,2016.0,kia,optima lx,excellent,4 cylinders,gas,109241.0,clean,automatic,fwd,full-size,sedan,white,ca
160341,omaha / council bluffs,14900,2014.0,nissan,rogue sv,like new,4 cylinders,gas,55000.0,clean,automatic,NaN,NaN,SUV,grey,ia
317044,eugene,5995,2008.0,ford,focus se,NaN,4 cylinders,gas,96075.0,clean,automatic,fwd,compact,sedan,red,or
28384,gold country,2500,2007.0,honda,civic,good,4 cylinders,gas,230000.0,clean,automatic,fwd,compact,sedan,grey,ca
317614,eugene,17980,2016.0,chevrolet,camaro,good,6 cylinders,gas,69450.0,clean,automatic,rwd,mid-size,coupe,silver,or
293597,cleveland,6000,2012.0,ford,transit connect,good,4 cylinders,gas,129500.0,clean,automatic,fwd,compact,NaN,white,oh
382651,san antonio,36995,2018.0,ram,3500,NaN,NaN,other,139748.0,clean,automatic,4wd,NaN,pickup,white,tx
391359,fredericksburg,0,2018.0,nissan,rogue sport,NaN,NaN,gas,35706.0,clean,automatic,4wd,compact,hatchback,black,va

In [55]:
df.to_csv('../data/processed/vehicles-v1.csv', index=False)